<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Chain Map</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container map-view">
        <header>
            <h1>Supply Chain Network Map</h1>
            <nav>
                <a href="/">Dashboard</a>
                <a href="/map" class="active">Map View</a>
                <a href="/analytics">Analytics</a>
            </nav>
        </header>

        <main>
            <div id="map"></div>
            
            <div class="map-controls">
                <div class="layer-controls">
                    <h3>Layers</h3>
                    <label>
                        <input type="checkbox" id="showFactories" checked>
                        Factories
                    </label>
                    <label>
                        <input type="checkbox" id="showWarehouses" checked>
                        Warehouses
                    </label>
                    <label>
                        <input type="checkbox" id="showRoutes" checked>
                        Routes
                    </label>
                    <label>
                        <input type="checkbox" id="showShipments" checked>
                        Active Shipments
                    </label>
                </div>

                <div class="node-info">
                    <h3>Selected Node Info</h3>
                    <div id="nodeDetails">
                        <p>Click a node to see details</p>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src="/static/js/map.js"></script>
</body>
</html>